body {
    font-family: 'Press Start 2P', cursive;
}

.game {
    width: 980px;
    height: 740px;
    background: #333333;
    margin: 100px auto;
    position: relative;

}

.game__start {

    width: 100%;
    height: 100%;
    text-align: center;
    background: #333333;
    position: absolute;
    z-index: 2;

}



.game__name {
    color: #fd6f63;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 150px;
    cursor: default;
}

.start__menu {

    color: #5281CB;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    width: 500px;
    margin: 100px auto;


}

.hover:hover::before {
    content: '*';
    position: absolute;
    color: white;
    left: -10px;
}

.game__action {
    width: 100%;
    height: 500px;
    background: url("image/bg.png") center no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.game__character {
    background: url("image/gunman.png") no-repeat 0 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 80px;
    zoom: 2.7;
    display: none;
    width: 33px;
    height: 65px;
}

.character-move {
    transition: 5s linear;
    right: 165px;
}

.bg-position-in-wait {
    background-position: -100px 0;

}
.bg-position-in-start-to-shoot {
    background-position: -202px 0;
    transition: 0s;
    transform: scale(-1,1);
}

.bg-position-in-prefire {
    background-position: -235px 0;
}

.bg-position-in-fire {
    background-position: -269px 0;

}

.character-move-with-win {
    background-position: 0 0;
    right: 0;
    animation: play 0.4s steps(3) infinite;
    transition: 5s linear;

}

.character-death {
    background-position: -337px 0;
}

.character-death-full {
    background-position: -372px 0;
}

.character-going {
    animation: play 0.3s steps(3) infinite;
}

@keyframes play {
    100% {background-position: -99px 0}
}

.game__status {
    width: 200px;
    height: 50px;
    background: white;
    color: black;
    position: absolute;
    top: 200px;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    display: none;
    z-index: 3;
}

.game__over-paranja {
    background: #e74c3c;
    opacity: 0.5;
    display: none;
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}