
table.search {
    background: #ffcc66;

}

.web {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 1000px;
    height: 54px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;

}

.search, .search__input  {
    width: 100%;
}

.search__input-wrapper {
    position: relative;
    padding-right: 65px;
    padding-left: 2px;
    padding-top: 2px;
}

.input__text {
    width: 100%;
    height: 20px;
    font-size: 16px;
    text-indent: .5em;

}

.input__box {
    padding-right: 0;
    line-height: 22px;
    background-color: #fff;
    position: relative;
    display: block;
    box-sizing: border-box;
    cursor: text;
}

.button {
    position: absolute;
    right: 5px;
    top: 2px;
    bottom: 0;
    margin-right: 0;
    cursor: pointer;
}
.option {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    vertical-align: middle;


}

input[type=checkbox] {
    vertical-align: middle;
}

.search__input-wrapper-2 {
    height: 20px;
    position: relative;
}

.web::after {
    content: '';
    position: absolute;
    border: 27px solid transparent;
    border-left: 15px solid #ffcc66;
    right: -43px;
    top: 0;
}

