@import url(blocks/stylesheet/stylesheet_center.css);
@import url(blocks/stylesheet/stylesheet_left.css);
@import url(blocks/stylesheet/stylesheet_right.css);


.holder__box {
    width: 100%;
    min-width: 1024px;
    height: 700px;
    display: inline-block;
    position: relative;
}


.holder__right {
    left: 600px;
}

.holder__left {
    left:-600px;
}

.holder__middle {
    z-index: 2;
}