.point__inner {
    text-align: center;
}

.point__item {
    display: inline-block;
}

.point__item_img {
    width: 290px;
    height: 160px;
}

.point__item_info {
    max-width: 290px;
}
.first {
    float: left;
}

.second {

}

.third {
    float: right;
}