.menu {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background: #a64dff;
    height: 40px;
    width: 900px;
}

li {
    float: left;
    padding: 10px 15px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Impact, Charcoal, sans-serif;
    color: white;
}

li:last-child {
    float: right;
    margin-right: 40px;
}

.line {
    background: #a64dff;
    margin-right: -10px;
    margin-left: -10px;
    box-shadow: 0 0 5px gray;
}

li:first-child {
        margin-left: 40px;
}





