@media (max-width: 1170px) {

    .preview {

        width: 750px !important;
        height: 260px !important;
    }
}

@media (max-width: 779px ) {

    .preview {
        width: 560px !important;

        padding: 0 !important;
    }


    .portfolio h1 {
        font-size: 35pt !important;
    }
}



@media (max-width: 630px ) {
    .preview {
        top: 200px !important;
    }
    .portfolio h1 {
        font-size: 30pt !important;
    }
}

@media (max-width: 560px) {

    .visibility {
        visibility: hidden !important;
    }

    .preview {
        display: none !important;
    }
}