.header
{
    min-height: 77px;

    background: #3498db;
}

.header__inner
{
    position: relative;
}

.header__logo
{
    display: inline-block;
}

    .header__title
{
    font-size: 26px;
    font-weight: normal;
        vertical-align: middle;
        line-height: 77px;

    display: inline-block;

    margin-left: 15px;

    text-transform: uppercase;

    color: #fff;
}

.header__social
{
    float: right;

    margin-top: 29px;

    list-style: none;
}

.social__links
{
    font-size: 13px;

    display: inline-block;

    margin: 0;
    padding: 0;

    color: #fff;
}

.links__list
{
    display: inline-block;

    margin: 0;
    padding: 0;

    vertical-align: middle;
}

.header__social li
{
    display: inline-block;

    list-style: none;
}



.social__icon
{
    display: block;
    overflow: hidden;

    width: 22px;
    height: 22px;

    list-style: none;

    vertical-align: middle;
    text-indent: 100%;

    background: url(../sprite/sprite.svg) no-repeat 0 0;

    border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color: #fff;

}

.icon-f
{
    background-position: 0 0;


}

.icon-g {
    background-position: -22px 0;


}

.icon-t {
    background-position: -44px 0;

}




.header__logo .logo
{
    display: inline-block;

    width: 50px;
    height: 50px;

    vertical-align: middle;
}
