.banner {

}

.left {
    width: 288px;
    height: 460px;
    background: white;
    border: 3px solid #ee8129;
    border-radius: 5px;
    display: inline-block;


    
}

.top {
    width: 288px;
    height: 75px;
    background: #ee8129;
    text-align: center;
}


h1 {
    line-height: 75px;
    color: white;
    margin: 0;
    font-size: 24px;

}

body {
    font-family: "Trebuchet MS";
}

.left .middle_1 {
    height: 160px;
    color: #35495a;
}

.left .middle_1 .text_line1 {
    line-height: 55px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.left .middle_1 .text_line2 {
    line-height: 35px;
    font-size: 72px;
    text-align: center;
    font-weight: bold;
}

.left .middle_2 {
    height: 140px;

}

.left .bottom a.button {
    display: inline-block;
    color: white;
    background: #ee8129;
    text-decoration: none;
    text-transform: uppercase;
    width: 255px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 -3px #b3560b inset;
    position: absolute;
    left: 0;
    top: 15px;
    right: 0;
    margin: auto;
}

.left .bottom {
    position: relative;
    height: 80px;
    font-size: 14px;
   /* background: #cccccc; */
}

.left .bottom a.button:hover{
    background: #b3560b;
}

.left .middle_2 .table .check_line {
    height: 33px;
    width: 260px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;

}
.table div {
    background: #f5f5f6;
    color: #888c94;

}

.table div:nth-child(2n+1) {
    background: #e8f2fb;
}

.left .middle_2 .table .check_line img {
    margin-left: 33px;
    margin-right: 16px;
    margin-top: 8px;
}

p {
    display: inline;
    position: absolute;
    line-height: 33px;
    margin: 0;
    font-size: 15px;
}
.table div:first-child p {
    line-height: 31px;
}

sub {
    font-size: 18px;

}
sup {
    font-size: 18px;
    vertical-align: 40px;

}
