body {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: #35495a;
}

.holder__right {
    width: 300px;
    height: 440px;
    border: 1px solid #e8eaec;
    border-radius: 5px;
    position: absolute;
    display: inline-block;
    background: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

.holder__right .holder__title {
    background: #1cb79a;
    height: 63px;
    width: 100%;
    display: inline-block;
    border-radius: 0 5px 0 0;
}


.holder__right a.button {
    display: inline-block;
    color: white;
    background: #3371a6;

    box-shadow: 0 -3px #16436a inset;
    left: 0;
    right: 0;
    margin: 7% auto auto auto;
}

.holder__right .holder__button a.button:hover {
    background: #16436a;
}

