.about__info
{
    font-size: 13px;
    line-height: 20px;

    max-width: 590px;
}

.about__title
{
    font-size: 15px;
    line-height: 42px;

    padding-top: 30px;

    text-transform: uppercase;
}

.about
{
    min-height: 250px;
}
