.testimonials
{
    background: #fff;
}

.testimonials__inner
{
    position: relative;

    min-height: 275px;

    border-top: 1px solid #f2f2f2;
}

.testimonials__title
{
    font-size: 25px;
    font-weight: normal;
    line-height: 42px;

    display: inline-block;

    padding-top: 30px;

    text-transform: uppercase;

    color: #1aa4ff;
}

.testimonials__button
{
    display: inline-block;
    float: right;

    margin-top: 30px;

    text-align: center;
}

.testimonials__button_last,
.testimonials__button_next
{
    line-height: 39px;

    display: inline-block;

    width: 39px;
    height: 39px;
    margin-left: 3px;

    border: 1px solid #e7e7e7;
    border-radius: 100%;
    background: url(../sprite/sprite-arrow.svg) no-repeat 0 0;
}

.testimonials__button_next {
    background-position: -40px 0;

}

.testimonials__button_last {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -40px 0;
}


.blockquote__info:before,
.blockquote-autor:after
{
    display: block;

    margin-top: 22px;
    margin-bottom: 22px;

    content: url('blockquote_after.png');


}
.blockquote-autor:after {

}

.blockquote__info:before {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 19px;
    height: 14px;
}
.testimonials__blockquote
{
    max-width: 727px;
}

.blockquote-autor
{
    margin-top: 20px;

    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}

.blockquote__info
{
    font-size: 13px;
    line-height: 20px;
}

.testimonials__button_last:hover,
.testimonials__button_next:hover
{
    cursor: pointer;

    background-color: #f2f2f2;
    background-position: 0 0;
}
