.testimonials {
    background: #fff;
}

.testimonials__inner {
    border-top: 1px solid #f2f2f2;
    position: relative;
}

.testimonials__title {
    font-size: 25px;
    line-height: 42px;
    color: #1aa4ff;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 40px;
    margin-bottom: 65px;
    display: inline-block;

}

.testimonials__button {
    display: inline-block;
    text-align: center;
    float: right;
    margin-top: 30px;

}

.testimonials__button_last,
.testimonials__button_next {
    border: 1px solid #e7e7e7;
    border-radius: 100%;
    width: 39px;
    height: 39px;
    line-height: 39px;
    display: inline-block;
    margin-left: 3px;
}

.testimonials__info {
    width: 727px;
    font-size: 13px;
    line-height: 20px;
}

.testimonials__info:before {
    display: block;
    content: url("blockquote_after.png");
    position: absolute;
    right: 200px;
    bottom: 0;


}
.testimonials__blockquote {
    display: block;
    max-width: 720px;
    padding-top: 20px;
    padding-bottom: 80px;
    text-align: right;

}

.blockquote-autor {

    display: inline-block;

}

