@import url("blocks/header/header.css");
@import url("blocks/menu/menu.css");
@import url("blocks/intro/intro.css");
@import url("blocks/testimonials/task2.css");

@import url("blocks/holder/stylesheet_left.css");
@import url("blocks/holder/stylesheet_center.css");
@import url("blocks/holder/stylesheet_right.css");

/* stylesheets from Home folder */

@import "../Home/task8/content/content.css";
@import "../Home/task8/services/services.css";


body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;

}


.holder__box {
    width: 100%;
    min-width: 1024px;
    height: 700px;
    display: inline-block;
    position: relative;
}


.holder__right {
    left: 600px;
}

.holder__left {
    left:-600px;
}

.holder__middle {
    z-index: 2;
}