@media (max-width: 1000px ) {
    .header h1 {
        padding: 0;
        margin: 0 0 0 30px;

    }

    .holder__left {
        width: 250px;
        height: 420px;
        left: -500px !important;

    }

    .holder__middle {
        width: 250px;
        height: 440px;

    }

    .holder__right {
        width: 250px;
        height: 420px;
        left: 500px !important;

    }

    .holder__left a.button {
        margin: 5% auto auto auto;
    }

    .holder__middle a.button {
        margin: 3% auto auto auto;
    }

    .holder__right a.button {
        margin: 5% auto auto auto;
    }

    .client__box_left {
        text-align: center;
        float: none;

    }

    .client__box_right {
        text-align: center;
        float: none;
    }

}

@media (max-width: 1200px) {
    .contacts__inner {

        width: 90% !important;

    }

    .content__inner {

        width: 90% !important;
    }
}

