ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    height: 40px;
    width: 900px;
    background: #a64dff;
    margin: auto;
}

.container ul li {
    float: left;
}

.container ul li a {
    padding: 0 10px;
    font-family: Impact, Charcoal, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;
    display: block;
    height: 40px;
    color: white;
    font-size: 16px;
}

.container ul li a:hover {
    background: #efefef;
    color: #999999;
}

.container ul li:last-child {
    float: right;
    margin-right: 30px;
}

.container ul li:first-child {
    float: left;
    margin-left: 30px;
}

.line {
    background: #a64dff;
    box-shadow: 0 0 5px grey;
    margin-left: -20px;
    margin-right: -20px;
}
