ul.menu {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background: #a64dff;
    height: 30px;
    width: 900px;
}

.menu li a {
    float: left;
    display: block;
}

li a {
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Impact, Charcoal, sans-serif;
    color: white;

}

li.right {
    float: right;
    margin-right: 40px;
}

.line {
    background: #a64dff;
    margin-right: -10px;
    margin-left: -10px;
    box-shadow: 0 0 5px gray;
}

li.home {
        margin-left: 40px;
}

li.active a{
    background: #efefef;
    color: gray;
    height: 20px;

}




