@media (max-width: 1000px) {
    .header,
    .intro,
    .about,
    .point,
    .testimonials,
    .bottom,
    .footer
    {
        display: block;

        width: 100% ;
        -max-width: 800px ;
        margin: auto;
    }

    .header__inner,
    .intro__inner,
    .about__inner,
    .point__inner,
    .testimonials__inner,
    .bottom__inner,
    .footer__inner
    {

        width: 100%;
        max-width: 760px !important;
        margin: auto;
        padding-right: 5px;
        padding-left: 5px;
    }

    .banner__info {
        font-size: 25px;
        max-width: 385px;
    }

    .about__info {
        max-width: 390px;
    }

    .about__title {
        padding-top: 25px;
    }

    .point__inner {
        text-align: left;
        padding-bottom: 20px;
    }

    .point__item {
        display: block;
        margin-bottom: 20px;
    }
    .first,
    .third {
        float: none;
    }


    .point__item_title {
        line-height: 17px;
        margin-bottom: 20px;

    }

    .point__item_img {
        float: left;
        margin-right: 20px;
    }
    .point__item_info {
        max-width: 800px;

    }

    .point__box_button {
        margin: 20px 0 0 310px;
    }

    .student {
        right: 0;
    }

    .testimonials__blockquote {
        max-width: 540px;
    }

    .layout__button_name {
        width: 470px;
        font-size: 20px;
    }

    .footer__copyrights {
        max-width: 470px;
    }
}

@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px) and (device-width: 800px) {
    .header,
    .intro,
    .about,
    .point,
    .testimonials,
    .bottom,
    .footer
    {
        display: block;

        width: 100%;
        -max-width: 320px;
    }

    .header__inner,
    .intro__inner,
    .about__inner,
    .point__inner,
    .testimonials__inner,
    .bottom__inner,
    .footer__inner
    {
        display: block;

        width: 100%;
        max-width: 320px !important;
        margin: auto;
        padding-right: 5px;
        padding-left: 5px;
    }

    .banner__title {
        padding-top: 35px;
        text-align: center;
        font-size: 40px;
        line-height: 42px;
    }

    .banner__info {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }

    .header__inner {
        height: 145px;
        padding-top: 15px;

    }

    .header__title {
        margin-left: 0;
        line-height: 42px;
        border-bottom: 1px solid #2980b9;
    }
    .header__logo
    {
        display: block;
        text-align: center;
    }

    .logo {
        display: block;
        margin: auto;
    }

    .header__social {
        position: absolute;
        bottom: 0;
        padding-left: 90px;
    }

    .intro__form {
        width: 300px;
        float: none;
        margin: auto;
        top: 200px;
        left: 0;
        right: 0;
        position: absolute !important;
    }

    .point__inner {
        text-align: center;
    }
    .point__title {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .point__item_title {
        line-height: 42px;
        font-size: 15px;
        margin: 0;
    }

    .point__item_img {
        float: none !important;
    }

    .form__field {
        width: 245px;
    }

    .about__title {
        padding-top: 415px;
        text-align: center;
    }

    .about__info {
        text-align: center;
    }

    .point__box_button {
        margin: 20px auto;

    }

    .testimonials__inner {
        height: 505px;
    }

    .testimonials__title {
        text-align: center;
    }

    .testimonials__button {
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
    }
    .layout__button_name {
        width: 300px;
        height: 130px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .bottom__inner  {
        height: 240px;
    }

    .student {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer__inner {
        text-align: center;
        height: 285px;
        padding-top: 30px;
    }

    .footer__copyrights {
        border: none;
        margin: 0;
        padding: 0;
    }

    .copyrights__info {
        margin-top: 30px;

    }

    .logo__title {
        font-size: 20px;
        line-height: 42px;
        border-bottom: 1px solid #2980b9;
    }

}