.intro {
    width: 100%;
    min-width: 1024px;
    background-image:url("intro_pic.jpg");
    background-size: cover;
    height: 100%;
    min-height: 570px;
    display: inline-block;
    margin: 0;
    position: relative;

}

.intro__title {
    color: #fff;
    font-size: 48px;
    width: 800px;
    text-align: center;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto ;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;

}

span.intro__title-first {
    font-size: 36px;
    text-transform: lowercase;
    font-weight: normal;
    margin-right: 140px;

}

span.first_letter {
    text-transform: uppercase;
}

.intro__annotation {
    display: inline-block;
    color: #fff;
    width: 600px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    margin: auto;
    top: 55%;
    left: 0;
    right: 0;
    position: absolute;


}

.intro__button {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    width: 250px;
    height: 58px;
    line-height: 58px;
    margin:  auto;
    right: 0;
    left: 0;
    bottom: 20%;
    position: absolute;
    text-align: center;
    border: 1px solid #fff;


}