.intro {
    width: 100%;
    min-width: 1024px;
    background-image:url("intro_pic.jpg");
    background-size: cover;
    height: 100%;
    min-height: 570px;
    margin: 0;
    position: relative;
    display: block;

}

.intro h2 {
    color: #fff;
    width: 725px;
    text-align: center;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto ;
    position: absolute;
    font-weight: normal;
    font-family: 'Mariad Pro', sans-serif;
    font-size: 36px;


}

.lower-case {
    text-align: center;
    text-transform: lowercase;


}

.upper-case {
    text-transform: uppercase;
    font-size: 48px;
}

.intro__annotation {
    display: inline-block;
    color: #fff;
    width: 600px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    margin: auto;
    top: 55%;
    left: 0;
    right: 0;
    position: absolute;

}

.intro__button {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    width: 250px;
    height: 58px;
    line-height: 58px;
    margin:  auto;
    right: 0;
    left: 0;
    bottom: 20%;
    position: absolute;
    text-align: center;
    border: 1px solid #fff;

}