.menu {
    list-style-type: none;
    position: absolute;

    right: -20px;
    bottom: 0;
    margin: 0;
}
.menu__item {
    display: inline-block;
}

.menu__item a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 60px;
    color: #989898;
    display: block;
    padding: 0 20px;

}

.menu__item_current_true a{
    border-bottom: solid 4px #3070a8;
    color: #3070a8;
}

.menu__item a:hover {
    color: #ee8129;
    border-bottom: solid 4px #3070a8;
}

.menu__item a:hover  .menu__item_current_true {
    color: #ee8129;
    border-bottom: none;
}