.footer {
    min-height: 190px;
    background: #1aa4ff;
    color: #fff;
}

.footer__logo {
    display: inline-block;
}

.footer__logo_img {
    display: inline-block;
}

.footer__copyrights {
    display: inline-block;
    max-width: 640px;
    border-left: 1px solid #2980b9;
    height: 60px;
    padding-left: 20px;
    margin-left: 20px;
}

.copyrights__info {
    font-size: 13px;
    line-height: 20px;

}

.footer__title {
    font-size:26px;

    text-transform: uppercase;
    display: inline-block;
    font-weight: normal;
}

.copyrights__social {
    
    font-size: 13px;
    line-height: 32px;
}