body {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: #35495a;
}

.holder__left {
    width: 300px;
    height: 440px;
    border: 1px solid #e8eaec;
    border-radius: 5px;
    position: absolute;
    display: inline-block;
    background: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

.holder__left .holder__title {
    background: #37c2d3;
    height: 63px;
    width: 100%;
    display: inline-block;
    border-radius: 5px 0 0 0;
}

.holder__left .holder__title h1 {
    font-size: 24px;
    text-align: center;
    color: white;
    margin: 0;
    line-height: 63px;
}

.holder__left .holder__item {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 163px;
}

.holder__left .holder__item .text {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.holder__left .holder__item .price {
    font-size: 72px;
    text-align: center;
    font-weight: bold;
}
.holder__left .holder__item .price sup {
    font-size: 18px;
    vertical-align: 40px;
}
.holder__left .holder__item .price sub {
    font-size: 18px;
}

.holder__left ul.holder__table {
    list-style: none;
    margin: 0 auto;
    padding: 0 ;

}

.holder__left .holder__table li {

    width: 87%;
    background: #f5f5f6;
    margin-bottom: 1px;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 15px;
    position: relative;
}

.holder__left .holder__table li:nth-child(2n+1) {
    background: #e8f2fb;
}
.holder__left span {
    display: inline-block;
    margin: 8px 0 8px 60px;
}
.holder__left .holder__button {
    display: inline-block;
    height: 90px;
    width: 100%;
    position: relative;

}

.holder__left a.button {
    display: inline-block;
    color: white;
    background: #3371a6;
    text-decoration: none;
    text-transform: uppercase;
    width: 85%;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 -3px #16436a inset;
    left: 0;
    right: 0;
    margin: 18px auto 20px auto;
}

.holder__left .holder__button a.button:hover {
    background: #16436a;
}

.holder__left .holder__table li::before {
    content: '';
    background: url(../../blocks/image/check.png);
    position: absolute;
    left: 30px;
    top: 5px;
    width: 16px;
    height: 17px;

}