:link[href*="://"],
:visited[href^="http"] {
    color:  #f70;
}

:link[href$="google.com"],
:visited[href$="google.com"] {
    color: #666 ;
}

:link[target="_blank"]:after
{
    content: '\21F1';
    margin-left: 5px;
    transform: rotate(-270deg);
    font-family: Cambria, georgia, serif;
    display: inline-block;
}