body {
    font-size: 70px;
}
.sivtsev p {
    color: rgba(0,0,0,0);
    text-shadow: 0 0 5px black;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;

}

.sight01 {
    font-size: 1.5em;
    letter-spacing: 1.05em;
}

.sight02 {
    font-size: 1.3em;
    letter-spacing: .45em;
}

.sight03 {
    font-size: 1.0em;
    letter-spacing: .31em;
}
.sight04 {
    font-size: 0.9em;
    letter-spacing: .23em;
}
.sight05 {
    font-size: 0.8em;
    letter-spacing: .31em;
}
.sight06 {
    font-size: 0.7em;
    letter-spacing: .26em;
}
.sight07 {
    font-size: 0.6em;
    letter-spacing: .4em;
}
.sight08 {
    font-size: 0.5em;
    letter-spacing: .405em;
}
.sight09 {
    font-size: 0.4em;
    letter-spacing: .65em;
}
.sight10 {
    font-size: 0.3em;
    letter-spacing: .84em;
}

.sight15 {
    font-size: 0.2em;
    letter-spacing: 1.54em;
}

.sight20 {
    font-size: 0.15em;
    letter-spacing: 2.2em;
}


/*
.v_line {
    height: 1440px;
    width: 4px;
    background: white;
    position: absolute;
    display: inline-block;
    z-index: 2;
    left: 420px;
    top: 0;

}
*/
label {

    font-size: 20px;
    color: black;
}

.uline {
    display: inline-block;
    width: 300px;
    height: 2px;
    background: #ffb3b2;
    position: absolute;
    left: 40px;
    top: 10px;
}
