.intro {
    width: 100%;
    min-width: 1024px;
    background-image:url("../blocks/picture/intro_pic.jpg");
    min-height: 565px;
    height: 100%;
    display: inline-block;
    margin: 0;
    background-size: 100%;
    position: relative;


}

.intro__title {
    color: #fff;
    font-size: 48px;
    width: 800px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 160px auto 20px auto;
    text-transform: uppercase;
    font-weight: bold;

}

span.intro__title-first {
    font-size: 36px;
    text-transform: lowercase;
    font-weight: l;

}

.intro__annotation {
    display: inline-block;
    color: #fff;
    width: 600px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;

}

.intro__button {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    width: 250px;
    height: 58px;
    line-height: 58px;
    margin: 0 auto 100px auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    border: 1px solid #fff;

}